*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

!lib/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# TeXDoclet and JavaDoc documentation ignores
docs/javadoc/*
!docs/javadoc/*.sh

# Compiled Documentation ignore
*.aux
*.lof
*.log
*.out
*.pdf
*.synctex.gz
*.toc

# Visual Paradigm
*.vpp*

# IntelliJ IDEA
*.iml
.idea/

# KDE
.directory
